body {
	background-color: #FFF;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	width: 320px;
}

p { margin: 3px; }

#patientname {
	font-size: 150%;
}

#runtime {
	font-size: 150%;
	color: #666;
	font-weight: bold;
}

#rundate {
	color: #666;
}

#currRR, #currHR, #currBP, #currSPO2, #currTemp {
	float: right;
	color: #666;
}

#currRRvalue, #currTempvalue, #currSPO2value, #currHRvalue, #currUpperBPvalue, #currLowerBPvalue {
	color: #000;
	font-size: 150%;
}

#currUpperBPvalue {
	text-decoration: underline;
}

#patientnewshead {
	float: right;
}

#patientnews {
	float: right;
	color: #FFF;
	font-weight: bold;
	font-size: 200%;
	background-color: #DDD;
	padding: 8px 15px;
	border-radius: 35px;
}

.newsScoreNone {
	background-color: #888;
}

.newsScoreLow {
	background-color: #8F8;
}

.newsScoreMedium {
	background-color: #FF8;
}

.newsScoreHigh {
	background-color: #8F8;
}

#BPchart {
	text-align: center;
	vertical-align: middle;
	height: 120px;
	width: 280px;
}

#HRchart, #RRchart, #SPchart, #Tempchart {
	text-align: center;
	vertical-align: middle;
	height: 75px;
	width: 280px;
}

footer {
	text-align: right;
}